html{font-family: 'Lato', sans-serif;
}
a{text-decoration: none;
}
a:hover{ transform: rotateZ(45deg);
}
i:hover{transform: rotatez(45deg); color: #47a3da;
}
.visible{
  display: block;
}
.invisible{
  display: none;
}
.down{
  color: #ec0086;
}
.nestling{
  margin-left:10%;
}
.nestlingTop{
  color: #47a3da;
}
article{
  display: none;
}
/*Here begin all the selectors needed for the article */
section{
  margin-top: 50px; margin-left:10%;
}
#icon{
  color: #bbbbbb; padding-right:20px;
}
#title{
  color: #47a3da; font-size: 2em;
}
#top_part{
  border-bottom: #bbbbbb 1px solid; padding-bottom: 20px;
}
#article{
  margin-bottom: 10px; color: #bbbbbb;
}
