html{font-family: 'Lato', sans-serif;}
a{text-decoration: none;}
a #fa fa-arrow-right fa-2x:hover{ transform: rotateZ(45deg);}
/*Here being all the selectors needed for the FIRST article */
/*I'm writing them inline like this so as to save space. its really obnoxious to read
but there are sooooo many classes its more convienent this way. I need a way to make this dynamic*/
#section1{
  margin-top: 50px; margin-left:10%;
}
#icon1{
  color: #bbbbbb; padding-right:20px;
}
#title1{
  color: #47a3da; font-size: 2em;
}
#top_part1{
  border-bottom: #bbbbbb 1px solid; padding-bottom: 20px;
}
#article1{
  margin-bottom: 10px; display: inline;
}
/* here begins all the selectors needed for the SECOND article*/
#section2{
  margin-top: 50px; margin-left:10%;
}
#icon2{
  color: #bbbbbb; padding-right:20px;
}
#title2{
  color: #47a3da;  font-size: 2em;
}
#top_part2{
  border-bottom: #bbbbbb 1px solid; padding-bottom: 20px;
}
#article2{
  margin-bottom: 10px;
}
